[
  {
    rabbit,
    [
      {
        tcp_listeners,
        [
          {"127.0.0.1",5672},
          {"0.0.0.0",5672},
          {"::1",5672}
        ]
      },
      %%{
      %%  ssl_listeners,
      %%  [5677]
      %%},
      %%{
      %%  ssl_options,
      %%  [
      %%    {cacertfile,"/xxx/ca_cert.pem"},
      %%    {certfile,"/xxx/client_cert.pem"},
      %%    {keyfile,"/xxx/client_key.pem"},
      %%    {verify,verify_peer},
      %%    {fail_if_no_peer_cert,true}
      %%  ]
      %%},
      {
        vm_memory_high_watermark,
        {relative,0.5}
      },
      {
        vm_memory_high_watermark_paging_ratio,
        0.8
      },
      {
        log_levels,
        [
          {connection,warning},
          {channel,warning}
        ]
      }
    ]
  },
  {
    rabbitmq_management,
    [
      {
        tcp_config,
        [{ip,"0.0.0.0"},{port,15672},{ssl,false}]
      }
    ]
  },
  {
    kernel,
    [
      {inet_dist_listen_min,25672},
      {inet_dist_listen_max,25672}
    ]
  }
].

